{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true,
  },
  "rules": {
    "strict": false,
    "comma-dangle": false,
    "no-underscore-dangle": false,
    "indent": [2, 2],
    "brace-style": [2, "1tbs"],
    "comma-style": [2, "last"],
    "func-style": [2, "declaration"],
    "no-inline-comments": [2, true],
    "no-lonely-if": [2, true],
    "no-mixed-spaces-and-tabs": [2, true],
    "no-multiple-empty-lines": [1, {"max": 2}],
    "camelcase": [2, true],
    "eol-last": [2, true],
    "curly": [2, "multi-line"],
    "space-after-function-name": false,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": 2,
    "space-in-parens": [2, "never"],
    "space-in-brackets": [2, "never"],
    "space-before-function-parentheses": [2, "never"],
    "no-shadow": false,
    "dot-notation": [2, {"allowPattern": "^[a-zA-Z0-9]+(_[a-zA-Z0-9]+)+$"}],
    "no-reserved-keys": [2, true],
    "eqeqeq": [2, "smart"],
    "complexity": [1, 10],
    "max-depth": [1, 4],
    "max-len": [1, 80],
    "max-params": [1, 6],
    "max-nested-callbacks": [1, 8],
    "max-statements": [1, 30],
    "default-case": [2, true],
    "guard-for-in": [2, true],
    "no-floating-decimal": [2, true],
    "no-else-return": [2, true],
    "no-self-compare": [2, true],
    "no-throw-literal": [2, true],
    "no-sync": [2, true],
    "no-nested-ternary": [2, true],
    "operator-assignment": [2, "always"],
    "semi": [1, "never"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "quotes": [2, "double", "avoid-escape"],
    "spaced-line-comment": [1, "always", {"exceptions": ["-","+"]}],
    "no-plusplus": [2, true],
    "no-bitwise": [2, true],
    "no-use-before-define": false
  }
}
